<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">Web bot generator</h1>
        <div class="project-lang pull-right">
            <svg viewBox="0 0 128 128">
                <path fill="#E6E6E6" d="M52.864 64h23.28l-12.375-25.877zM63.81 1.026l-59.257 20.854 9.363 77.637 49.957 27.457 50.214-27.828 9.36-77.635-59.637-20.485zm-15.766 73.974l-7.265 18.176-13.581.056 36.608-81.079-.07-.153h-.064l.001-.133.063.133h.14100000000000001l.123-.274v.274h-.124l-.069.153 38.189 81.417-13.074-.287-8.042-18.58-17.173.082"></path>
            </svg>
        </div>
        <div class="page-separator"></div>
    </div>
</div>
<!--
<div class="row">
<div class="col-lg-12">
    &lt;!&ndash;<a href="http://blogproject.mirageflow.com" target="_blank"><button class="btn btn-primary btn-md btn-pf btn-pf-left pull-left"><i class="fa fa-globe"></i> <span translate="PORTFOLIO-BLOGPROJECT-BTN-PREVIEW">Voir un aperçu</span></button></a>&ndash;&gt;
    &lt;!&ndash;<a href="https://github.com/mirageflow/blogproject" target="_blank"><button class="btn btn-primary btn-pf btn-md btn-pf-right pull-right"><i class="fa fa-github"></i> <span translate="PORTFOLIO-BLOGPROJECT-BTN-GITHUB">Voir sur Github</span></button></a>&ndash;&gt;
</div>
</div>-->
<!-- Projects Row -->
<div class="row">
    <div class="container slider web-bot-generator-slider">
        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage web-bot-generator-slide"
             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <span class="arrow prev" href="#" ng-click="nextSlide()"></span>
        <span class="arrow next" href="#" ng-click="prevSlide()"></span>
        <nav class="navv">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <span href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                           ng-click="setCurrentSlideIndex($index);">{{slide.description}}</span></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="col-lg-12">
        <h2 class="page-title">Description</h2>
        <div class="page-separator"></div>
    </div>
    <div class="col-md-12">

            <div class="project-description" translate="PORTFOLIO-WEB-BOT-GENERATOR-DESC-CONTENT">
                <p>Cet outil permet en quelques étapes de générer et observer un ou plusieurs "web bot". Avec une platform légerte côté client en <b>Angular 6</b> et <b>Angular Material</b>. Un backend en <b>nodejs</b> servant à la gestion des bots et l'accès à la donné. Un <b>serveur selenium</b> prêt à accueuillir plusieurs navigateurs web <b>chrome</b>. Une base de donnée <b>MongoDB</b> toujours prête à évoluer. </p>
                <p>Vous créez d'abord une <b>cible("Target")</b> avec un URL et des champs personnalisés. Ensuite, vous pouvez remplir un <b>enssemble d'information("Information Set")</b>, informations qui pourrons être utilisé plus tard dans l'outil. Vous pouvez aussi ajouter des <b>alertes("Alerts") SMS/Courriel</b> que vous pourrez déclanger à l'intérieur de vos <b>scripts personnalisés de cible("Target Custom Script")</b>. Finalement après avoir remplis tous ces informations ou possiblement juste avoir créé une <b>cible("Target")</b>, vous pourrez lancer une <b>execution("Execution")</b>.</p>
                <p>Plusieurs configurations s'offre à vous avant de lancer l'execution, tel que la possibilité de définir les champs personnalisés de votre <b>cible("Target")</b> qui peuvent être récupérés à l'intérieur de votre <b>script personnalisé("Target Custom Script")</b>. Un coup l'execution en cour, vous pouvez cliquer sur l'image et le clic sera envoyé à la position (x,y) du navigateur web(ou des navigateurs web sélectionnés si l'option est coché). Vous pouvez aussi envoyer des touches du clavié au(x) navigateur(s) web dans la section appropriée. </p>
                <p>Une option permet d'afficher une loupe qui apparait en survolant l'image d'un navigateur web, sinon il est aussi possible d'amener une image d'un navigateur web en plein écran en cliquant sur l'option approprié. Pour executer du javascript dans le navigateur il y une option "<b>Custom JS</b>" et il y a aussi une option "<b>Run Script</b>" pour executer notre <b>script personnalisé(Target Custom Script)</b>. Par la suite il est possible de <b>planifier des tâches</b> à executer dans le futur à une date et un heure précise ou avec expression "<b>cron</b>". Si vous quitté la page de l'application web, il est possible en tout temps de revenir et <b>restorer votre session</b>.</p>
            </div>

            <div class="tags-container">
                <span class="label label-info" ng-repeat="technologie in ['MongoDB', 'ExpressJS', 'Typescript', 'AngularJS 2+', 'CSS', 'HTML', 'Node.js', 'Karma', 'Git', 'Mail Services', 'Selenium Server', 'Chromedriver', 'Socket.IO']">{{technologie}}</span>
            </div>


      </div>
</div>