<div class="post-header">
    <div class="col-lg-6 post-header-sep sep-fix">
        <h2 class="post-title">{{ post.title }}</h2>
    </div>
    <div class="col-lg-6 post-header-sep sep-fix">
        <ul class="posts-info post-info">
            <li ng-show="sesUser.is_admin"> <i ng-click="deletePost(post._id)" class="fa fa-trash link" aria-hidden="true"></i></li>
            <li ng-show="sesUser.is_admin"> <i ng-click="editPost(post._id)" class="fa fa-edit link" aria-hidden="true"></i></li>
            <li class=""><em>Written by&nbsp;</em><a href="#/profile/{{post.user_id._id}}">{{post.user_id.username ? post.user_id.username : post.user_id.name}}</a></li>
            <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
        </ul>
    </div>
</div>
<div class="wrapper">
    <article  ng-bind-html="toTrustedHTML(post.content)" class="post-content">
    </article>
</div>