<div class="row">
    <div class="col-lg-12">
        <h1 class="page-title">Blog Project</h1>
    </div>
</div>

<!-- Projects Row -->
<div class="row">
    <div class="container slider">
        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">

        <span class="arrow prev" href="#" ng-click="nextSlide()"></span>
        <span class="arrow next" href="#" ng-click="prevSlide()"></span>
        <nav class="navv">
            <div class="wrapper">
                <ul class="dots">
                    <li class="dot" ng-repeat="slide in slides">
                        <span href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                           ng-click="setCurrentSlideIndex($index);">{{slide.description}}</span></li>
                </ul>
            </div>
        </nav>
    </div>
</div>