@font-face {
  font-family: "AdamCG";
  src: url("fonts/adam.cgpro.otf") format("opentype");
}


// Post css section ---

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  margin-top: 25px;
  h3{
    margin: 0;
    display: inline-block;
  }
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  background-color: rgb(248, 248, 248);
}

.post{
  margin-bottom: 24px;
  min-height: 100px;
}

.post,.header, .post-header {

  .post-info {
    position: absolute;
    bottom: 4px;
    right:0;
  }

  .posts-title {
    color: black;
    h3 {
      display: inline-block;
      font-size: 26px;
      font-weight: bold;
      margin: 5px 0px 5px 0px;
    }
  }

  ul.posts-info {
    float: right;
    margin: 8px 0px 0px 0px;
  }

  ul.posts-info li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    margin: 0px 3px 0px 3px;
    color: grey;

    i {
      font-size: 18px;
    }
    .link{
      cursor: pointer !important;
      color: #30A5FF;
    }:hover{
       color: grey;
     }

  }

  .posts-content {
    text-align: left;
    background-color: white;
  }

  .post-search {
    margin: 0px 0px 0px 0px;

  }
}

.post-header {
  width: 100%;
  min-height: 60px;
  height: auto;

  .post-header-sep {
    height: 100%;
    position: relative;

    .post-title {
      font-size: 36px;
      font-weight: bold;
      display: inline-block;
      margin: 0px;
      position: absolute;
      bottom: 6px;
      left:0;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .sep-fix {
    min-height: 60px;
  }

}
// End Post css section

/*
.row-canvas{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  z-index: 10;
*/

  .row{
    position: relative;
    z-index: 10;
    background-color: rgba(0,0,0,0);
  }/*
}*/

.wrapper-boxed.services{/*
  position: relative;*/
  background-color: rgba(255,255,255,0.9)!important;
}

.panel-desc{
  margin-top: 8px;
  .label{
    margin-right: 4px;
  }
}

.canvas-container{
  z-index: -1;

  height: 0px;

  #canvas{
    top: 0;
    bottom:0;
    left: 0;
    height: 100%;
    z-index: -1;
    width:100%;
    position: absolute;
    canvas{

      top: 0;
      bottom:0;
      left: 0;
      height: 100%!important;
      z-index: -1;
      width:100%!important;
      position: fixed;
    }
  }
}



.img-portfolio{
  img.img-responsive{
    @media screen and (min-width: 480px) {
      height: 400px;
    }
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      height: 350px;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      height: 200px;
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      height: 300px;
    }

  }
}

.row-services{
  .panel{
    text-align: justify;

    .btn{
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.row-about{
  text-align: justify;
}

// Comments css section
.chat{
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 10px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;


  .chat-header{

    background-color: darken(rgb(248, 248, 248), 5% );
    padding-top: 4px;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid lightgray;


    h3 {
      display: inline-block;
      margin: 0px;
    }

    i {
      margin-left: 8px;
      font-size: 30px;
    }

  }

  .chat-msg{
    min-height: 250px;/*
  max-height: 600px;*/
    list-style: none;/*
  overflow-y: auto;*/
    margin-bottom: 0;
  }

  hr{
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  .chat-bloc{
    padding-left: 20px;
    .chat-bloc-row{
      flex: 1 100%;
      flex-flow: row wrap;
      display: flex;
    }

    .user-img{
    }
    .user-img img{
      margin-top: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .user-msg-content{
      word-wrap: break-word;
      flex-grow: 80;
      padding: 10px 20px 10px 20px;
      width: 200px;

      @media (min-width: 480px) {
        width: 300px;
      }
    }
    .user-msg-up-down{
      margin-right: 10px;
      justify-content: flex-end;
      flex-grow: 5;
      text-align: center;
      .up-down{
        height: 20px;
        padding-top: 2px;
        .up{
          margin-left: 0;
          color: #00AA00;
        }
        .down{
          color: red;
          margin-right: 0;
        }
      }

      i{
        display: block;
        color: gray;
        font-size:24px;
        cursor: pointer;
      }.fa-chevron-up,.fa-chevron-down{
         vertical-align: text-top;
       }:hover{
          color: #444;
        }

    }
    .chat-bloc-footer{
      a{
        cursor: pointer;
      }
    }

    .sub-com{
      background-color: rgba(200,200,200,0.4);
      margin-left: 10%;
      padding: 10px 20px 20px 20px;
      margin-top: 5px;
      margin-bottom: 5px;

    }

    .chat-sub-comment{
      list-style: none;
      border-bottom: 1px solid lightgrey;

      /*
       float: right;*/

      .user-sub-msg-content{
        border-bottom: 1px solid lightgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 1px;
      }

    }

    .sub-com-sep{
      display: block;
      height: 1px;
      float: right;
      margin-top: 5px!important;
    }


  }

  .chat-foot{
    padding: 6px;
    .input-group{
    }

    textarea{
      transition: none;
      border-radius: 0;
      resize: none;
    }
    :focus{
      /* border: 1px solid grey;*/

      /*border: 1px solid darken(rgb(150, 150, 150), 5% );*/
      box-shadow: none;

    }

    .input {
      display: flex;
    }
    .input-field {

      flex: 1;
      /* field styles */
    }
    .input-item {

      border-left: 0;
      border-radius: 0;
      /* item styles */
    }


  }

  .input-sub-comment {
    form{
      display: flex;
      width: 100%;
    }
    margin-top: 10px;
    display: flex;
  }
  .input-field-sub-comment {
    transition: none;
    border-radius: 0;
    flex: 1;
    /* field styles */
  }
  .input-item-sub-comment {
    border-left: 0;
    border-radius: 0;
    /* item styles */
  }

}

.post-content{
  min-height: 400px;
}
// End Comments css section

.fixed-box .panel-body {
  min-height: 210px !important;
}

.demo-box {

  /*border: 1px solid #cccccc;*/
  /*background-color: #f2f2f2;*/
  min-height: 380px;
  margin-top: 20px;
  .box-logo {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }


  .terms {
    background: url('img/terms.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .mission {
    background: url('img/startup.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .engagement {
    background: url('img/handshake.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .success {
    background: url('img/laptop.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .box-title {
    font-weight: bold;
    text-align: center;
    padding: 4px 0px 0px 0px;
  }

  .box-text {
    text-align: justify;
    text-justify: inter-word;
  }
}

.fixed-box {
  margin-top: 20px;
  padding-bottom: 15px;
}

.navbar-header {
  /*margin: 8px 0px 0px 4px;*/
}

.nav-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  /*padding: 0px 0px 0px 0px;*/

  .title-blue {
    color: #419ce8;
  }
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
  color: white;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active >
a:hover, .navbar .navbar-nav > .active > a:focus {
  color: #DBDBDB;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: white;
  text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver;
}


.navbar .navbar-nav > li > a {
  font-weight: bold;
  color: #C9C9C9;

}


// Contact css section ---
.contact-info {

  padding-left: 30px;
  li {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 14px 3px 0px 3px;
    color: grey;
    i{
      width: 18px;
      height: 18px;
      .link{
        cursor: pointer;
        color: #337ab7;
      }:hover{
         color: grey;
       }
      font-size: 18px;
    }
  }

  :first-child {
    margin-top: 4px;
  }

  li.marker:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f041";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;
    margin-top: 4px;
    margin-left: -26px;
    color: #CCCCCC;
  }

  li.phone:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f095";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;

    margin-left: -26px;
    color: #CCCCCC;
  }

  li.envelope:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f0e0";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;

    margin-left: -26px;
    color: #CCCCCC;
  }

  span {
    margin-left: 12px;
  }
}


// End Contact css section

// Tools section ---

.no-pad {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.all-width {
  width: 100% !important;
}

.no-col-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}
// End tools section

.wrapper-boxed {



  margin-top: 50px;
  min-height: 650px;
  background-color: white;
  padding: 0px 20px;

  

  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  /*border: 1px solid black;*/
}

body {
  background: url('img/pattrn_clouds.jpg') repeat-x;
  background-size: auto 600px ;
}

.page-title {
  padding: 0px 0px 10px 0px;
  margin: 16px 0px 8px 0px;
  border-bottom: 1px solid #eeeeee;
}

div.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.img-list .lee {
  display: inline-block;
  height: 250px;
  position: relative;

}

span.text-content {

  background: rgba(0,0,0,0.5);

  font-size: 28px;
  font-weight: bold;
  color: white;

  cursor: pointer;
  display: table;
  height: 250px;
  left: 15px;
  position: absolute;
  top: 0;
  width: calc(100% - 30px);
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {

  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.img-list .lee:hover span.text-content {
  opacity: 1;
}

.serv-box {
  width:120px;
  height:120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.monitor {
  background: url('img/monitor.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.infor {
  background: url('img/information.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.share {
  background: url('img/share.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.smartphone {
  background: url('img/smartphone.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.section-title {
  padding: 0px 15px;
}

.main-footer {
  background-color: #272727;
  min-height: 130px;

  overflow: auto;
  padding-top: 20px;
  ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 6px;

    li {
      color: #bcbcbc;
      text-align: justify;
      margin: 0 auto;

      a {
        color: #bcbcbc;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
        color: #979797;
      }
    }
  }

  .copyright-foot {
    border-top: 1px solid #2e2e2e;
    text-align: center;
    color: #5c5c5c;
    margin: 8px 0px 0px 0px;
    padding: 10px 8px 6px 8px;
  }

  .list-section {
    font-family: AdamCG;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #505050;
  }

  .col-block {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-box {
  margin-top: 20px;
}.sep-right {
  border-right: 1px solid #eeeeee;
 }