<div class="row">
    <div class="col-lg-4 col-lg-offset-4 frm-login">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Welcome,</strong>&nbsp;Please enter your email...</div>
            <div class="panel-body">
                <form>
                    <div ng-show="errorList.length > 0" class="alert alert-danger" role="alert">
                        <strong>Oops,</strong> There was an error with your submission :
                        <ul class="error-list">
                            <li ng-repeat="n in errorList">{{ n }}</li>
                        </ul>
                    </div>
                    <div ng-show="msgList.length > 0" class="alert alert-success" role="alert">
                        <strong>Success !</strong>
                        <ul class="msg-list">
                            <li ng-repeat="n in msgList">{{ n }}</li>
                        </ul>
                    </div>
                    <div class="form-group">

                        <input ng-model="user.email" id="uname" class="form-control" type="text" placeholder="Email" name="uname" required>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 no-col-pad">
                            <button ng-click="forgotpwd()" class="btn theme-btn all-width" type="submit">Send reset link</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <span class="bottom-link"><a href="#/sign-up">No account yet ? <strong> Create one now ! </strong></a></span>

    </div>
</div>