<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Sign Up</strong></div>
            <div class="panel-body">
                <form>
                    <div ng-show="errorList.length > 0" class="alert alert-danger" role="alert">
                        <strong>Oops,</strong> There was an error with your submission :
                        <ul class="error-list">
                            <li ng-repeat="n in errorList">{{ n }}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <label for="email">Email : </label>
                        <input id="email" type="email" class="form-control" ng-model="user.email" ng-required="true" required/>
                    </div>

                    <div class="form-group">
                        <label for="username">Username : </label>
                        <input id="username" type="text" class="form-control" ng-model="user.username" ng-required="true" required/>
                    </div>

                    <div class="form-group">
                        <label for="password">Password :</label>
                        <input id="password" type="password" class="form-control" ng-model="user.password" ng-required="true" required>
                    </div>

                    <div class="form-group">
                        <label for="is_admin">Is admin ? (For development purpose)</label>
                        <select id="is_admin" ng-model="user.is_admin" class="form-control" ng-required="true" required>
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button class="btn theme-btn pull-right" ng-click="signup()">
                            Register
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <span class="bottom-link"><a ng-click="goToSignIn()"><-- Get back to login</a></span>
        <span class="bottom-link pull-right"><a href="#/forgot-password">Forgot  password ?</a></span>

    </div>
</div>