<h2 class="section-title" ng-show="previewPost.title"> Preview</h2>
<div ng-show="previewPost.title" class="wrapper"  >
    <article ng-bind-html="toTrustedHTML(previewPost.content)">

    </article>
</div>
<h2>Edit Post</h2>
<div class="wrapper">
    <article class="main">

        <form method="post">
            <div class="form-group">
                <label for="post-title">Post Title</label>
                <input id="post-title" type="text" class="form-control" ng-model="post.title" placeholder="" />
            </div>
            <div class="form-group">
                <label for="post-content">Post Content</label>
                <textarea rows="1" id="post-content" ui-tinymce="tinymceOptions"  ng-model="post.content"></textarea>
            </div>
            <div class="form-group">
                <label for="post-tags">Post Tags</label>
                <input id="post-tags"  class="form-control" ng-value="tagsString" />
            </div>
        </form>

    </article>
    <footer class="footer">
        <div class="pull-right btn-group">
            <button class="btn btn-default" ng-click="makePreviewPost()">Preview Post</button>
            <button class="btn btn-danger" ng-click="deletePost()">Delete Post</button>
            <button class="btn btn-info" ng-click="updatePost()">Update Post</button>
        </div>
    </footer>


</div>
