<h2>{{ post.title }}</h2>
<div class="wrapper">
    <article  ng-bind-html="toTrustedHTML(post.content)" class="post-content">
    </article>
</div>
<div class="chat">
    <div class="chat-header">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        &nbsp;<h3>Comments</h3>
    </div>
    <ul class="chat-msg">
        <li class="chat-bloc" ng-repeat="comment in comments" >
            <div class="chat-bloc-row">
                <div class="user-img">
                    <img src="http://placehold.it/80/30a5ff/fff"/>
                </div>
                <div class="user-msg-content">
                    <div class="user-msg-header">
                        <strong>John Doe</strong>
                        <span class="time">{{ comment.createdAt | date:'MMM d, y'}}</span>
                    </div>
                    <p>{{ comment.content}}</p>
                </div>
                <div class="user-msg-up-down"><!--
                           <i class="fa fa-thumbs-up"></i>
                           <i class="fa fa-thumbs-down"></i>-->
                    <i class="fa fa-chevron-up"></i>
                    <div class="up-down">
                        <span class="up">100</span>
                        <span class="down">2222</span>
                    </div>
                    <i class="fa fa-chevron-down"></i>

                </div>
            </div>
            <div class="chat-bloc-footer">
                <a href="#" class="">Reply</a>
            </div>
            <hr>
            <div class="sub-com">
                <ul class="chat-sub-comment">
                    <li>
                        <div class="user-sub-msg-content">
                            <div class="user-sub-msg-header">
                                <strong>John Doe</strong>
                                <span class="time">14min ago</span>
                            </div>
                            <p>bla bla bla...bla bla bla...bla bla bla...bla bla bla..bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...</p>
                        </div>
                    </li>
                    <li>
                        <div class="user-sub-msg-content">
                            <div class="user-sub-msg-header">
                                <strong>John Doe</strong>
                                <span class="time">14min ago</span>
                            </div>
                            <p>bla bla bla...bla bla bla...bla bla bla...bla bla bla..bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...bla bla bla...</p>
                        </div>
                    </li>
                </ul>
                <div class="sub-com-sep"></div>
                <div class="InputAddOn-sub-comment">
                    <input id="btn-input-sub-comment" type="text" class="InputAddOn-field-sub-comment form-control" placeholder="Type your message here..." />
                    <button class="InputAddOn-item-sub-comment btn btn-default">Send</button>
                </div>
            </div>
        </li>
    </ul>
    <hr>
    <div class="chat-foot">

        <div class="InputAddOn">
            <textarea id="btn-input" rows="2" ng-model="comment.content" class="InputAddOn-field form-control" placeholder="Type your message here..."></textarea>
            <button ng-click="addComment(comment)" class="InputAddOn-item btn btn-default">Send</button>
        </div>
    </div>
</div>
