<h2>{{ post.title }}</h2>
<div class="wrapper">
    <article  ng-bind-html="toTrustedHTML(post.content)" class="post-content">
    </article>
</div>
<div class="chat">
    <div class="chat-header">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
        &nbsp;<h3>Comments</h3>
    </div>
    <ul class="chat-msg">
        <li class="chat-bloc" ng-repeat="comment in comments" >
            <div class="chat-bloc-row">
                <div class="user-img">
                    <img src="http://placehold.it/80/30a5ff/fff"/>
                </div>
                <div class="user-msg-content">
                    <div class="user-msg-header">
                        <strong>John Doe</strong>
                        <span class="time">{{ comment.createdAt | date:'MMM d, y'}}</span>
                    </div>
                    <p>{{ comment.content}}</p>
                </div>
                <div class="user-msg-up-down"><!--
                           <i class="fa fa-thumbs-up"></i>
                           <i class="fa fa-thumbs-down"></i>-->
                    <i ng-click="addUpVote(comment)" class="fa fa-chevron-up"></i>
                    <div class="up-down">
                        <span  class="up">{{ (comment.votes | filter: {is_upvote: true}).length }}</span>
                        <span class="down">{{ (comment.votes | filter: {is_upvote: false}).length }}</span>
                    </div>
                    <i ng-click="addDownVote(comment)"  class="fa fa-chevron-down"></i>

                </div>
            </div>
            <div class="chat-bloc-footer">
                <a data-toggle="collapse" data-target="#reply-{{comment._id}}" class="">Reply</a>
            </div>
            <hr>
            <div id="reply-{{comment._id}}" class="sub-com collapse">
                <ul ng-show="comment.sub_comments.length > 0" class="chat-sub-comment">
                    <li ng-repeat="subComment in comment.sub_comments">
                        <div class="user-sub-msg-content">
                            <div class="user-sub-msg-header">
                                <strong>John Doe</strong>
                                <span class="time">{{subComment.updatedAt | date:'MMM d, y'}}</span>
                            </div>
                            <p>{{subComment.content}}</p>
                        </div>
                    </li>
                </ul>
                <div class="InputAddOn-sub-comment">
                    <input id="btn-input-sub-comment" type="text" ng-model="comment.currentSubComment" class="InputAddOn-field-sub-comment form-control" placeholder="Type your message here..." />
                    <button class="InputAddOn-item-sub-comment btn btn-default" ng-click="addSubComment(comment)">Send</button>
                </div>
            </div>
        </li>
    </ul>
    <hr>
    <div class="chat-foot">

        <div class="InputAddOn">
            <textarea id="btn-input" rows="2" ng-model="comment.content" class="InputAddOn-field form-control" placeholder="Type your message here..."></textarea>
            <button ng-click="addComment(comment)" class="InputAddOn-item btn btn-default">Send</button>
        </div>
    </div>
</div>
