<div  ng-show="sesUser" class="post-header">
  <div class="col-lg-9 post-header-sep sep-fix">
    <h2 ng-show="sesUser.is_admin"  class="new-post" ><a href="#/post-create"><i class="fa fa-plus-square" aria-hidden="true"></i></a>&nbsp;New Post</h2>
  </div>
  <div class="col-lg-3 post-header-sep sep-fix">
    <div  class="form-group post-search">
      <div class="input-group pull-right">
          <input class="form-control" placeholder="Search" ng-model="textSearch.data" type="text" my-on-key-up-call="callRestService()">
          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
      </div>
      </div>
  </div>
</div>
<div ng-repeat="post in posts | orderBy:'created_at':true" class="wrapper post">
  <header class="header">
    <a class="posts-title" href="#/post/{{post._id}}"><h3>{{ post.title }}</h3></a>
    <ul class="posts-info">
      <li ng-show="sesUser.is_admin"> <i ng-click="deletePost(post)" class="fa fa-trash link" aria-hidden="true"></i></li>
      <li ng-show="sesUser.is_admin"> <i ng-click="editPost(post._id)" class="fa fa-edit link" aria-hidden="true"></i></li>
      <li class=""><em>Written by&nbsp;</em><a href="#/profile/{{post.user_id._id}}">{{post.user_id.username ? post.user_id.username : post.user_id.name}}</a></li>
      <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
    </ul>
  </header>
  <article ng-bind-html="toTrustedHTML(post.content)" class="posts-content">
  </article>

  <div class="footer">
    <a class="pull-right" href="#/post/{{post._id}}">READ MORE</a>
  </div>
</div>
<div ng-hide="noSearchResult" class="">
  <div ng-hide="sesUser" ><a href="#/sign-in"><em>(Authenticate)</em></a></div>
  <div ng-show="sesUser" ng-click="logOut()"><a href="#"><em>(Log out)</em></a></div>
</div>
<div ng-show="noSearchResult" class="wrapper">
  <p>No search result !</p>
</div>