<h2 ng-show="seshUser.is_admin"><a href="#!/post-create"><i class="fa fa-plus-square" aria-hidden="true"></i></a>&nbsp;New Post</h2>
<div ng-repeat="post in posts | orderBy:'created_at':true" class="wrapper">
  <header class="header">
    <h3>{{ post.title }}</h3>
    <ul class="post-infos">
      <li ng-show="seshUser.is_admin"> <i ng-click="deletePost(post._id)" class="fa fa-trash link" aria-hidden="true"></i></li>
      <li ng-show="seshUser.is_admin"> <i ng-click="editPost(post._id)" class="fa fa-edit link" aria-hidden="true"></i></li>
      <li class=""><a href="#!/profile/{{post.user_id.user_id}}"><i class="fa fa-user link" aria-hidden="true"></i>&nbsp;{{post.user_id.username ? post.user_id.username : post.user_id.name}}</a></li>
      <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
      <li class=""><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;({{ post.comments.length }}) Comments</li>
    </ul>
  </header>
  <article ng-bind-html="toTrustedHTML(post.content)" class="post">
  </article>

  <div class="footer">
    <a class="pull-right" href="#!/post/{{post._id}}">READ MORE</a>
  </div>
</div>