<h2>Posts</h2>
<div ng-repeat="post in posts | orderBy:'created_at':true" class="wrapper">
  <header class="header">
    <h3>{{ post.title }}</h3>
    <ul class="post-infos">
      <li> <a href="#" ng-click="deletePost(post._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
      <li> <a href="#!/post-edit/{{post._id}}"><i class="fa fa-edit" aria-hidden="true"></i></a></li>
      <li class=""><a href="#!/profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Isael Blais</a></li>
      <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
      <li class=""><a href="#!/post/{{post._id}}"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;({{ post.comments.length }}) Comments</a></li>
    </ul>
  </header>
  <article class="post">
    <p>
      {{ post.content }}
    </p>

  </article>

  <div class="footer">
    <a class="pull-right" href="#!/post/{{post._id}}">READ MORE</a>
  </div>
</div>