<div class="row">
    <div class="col-lg-4 col-lg-offset-4 frm-login">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Welcome,</strong>&nbsp;Please login...</div>
            <div class="panel-body">
                <div class="social-wrap b">
                    <button ng-click="facebookSignIn()" class="facebook">Sign in with Facebook</button>
                </div>

                <form>
                    <div ng-show="errorList.length > 0" class="alert alert-danger" role="alert">
                        <strong>Oops,</strong> There was an error with your submission :
                        <ul class="error-list">
                            <li ng-repeat="n in errorList">{{ n }}</li>
                        </ul>
                    </div>

                    <hr class="or-hr">

                    <div class="form-group">
                        <input ng-model="user.email" id="uname" class="form-control" type="text" placeholder="Email or Username" name="uname" required>
                    </div>

                    <div class="form-group">
                        <input ng-model="user.password" id="pswd" class="form-control" type="password" placeholder="Password" name="pswd" required>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 no-col-pad">
                            <button ng-click="login()" class="btn theme-btn all-width" type="submit">Log In</button>
                        </div>
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input ng-model="user.remember_me" type="checkbox"> Remember me
                                </label>
                            </div>
                            <span><a href="#/forgot-password">Forgot  password?</a></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <span class="bottom-link"><a href="#/sign-up">No account yet ? <strong> Create one now ! </strong></a></span>

    </div>
</div>