
<div  ng-show="sesUser" class="post-header">
  <div class="col-lg-9 post-header-sep sep-fix">
    <h2 ng-show="sesUser.is_admin"  class="new-post" ><a href="/dashboard.html#!/press-release-create"><i class="fa fa-plus-square" aria-hidden="true"></i></a>&nbsp;New Press Release</h2>
  </div><!--
  <div class="col-lg-3 post-header-sep sep-fix">
    <div  class="form-group post-search">
      <div class="input-group pull-right">
          <input class="form-control" placeholder="Search" ng-model="textSearch.data" type="text" my-on-key-up-call="callRestService()">
          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
      </div>
      </div>
  </div>-->
</div>
<div class="col-lg-12">
  <div class="row">
    <div ng-repeat="post in posts | orderBy:'created_at':true" class="wrapper post panel panel-default">
      <header class="header">
        <ul class="posts-info">
          <li ng-show="sesUser.is_admin"> <i ng-click="deletePost(post)" class="fa fa-trash link" aria-hidden="true"></i></li>
          <li ng-show="sesUser.is_admin"> <i ng-click="editPost(post._id)" class="fa fa-edit link" aria-hidden="true"></i></li>
          <li class=""><em translate="WRITTEN-BY">Écrit par</em> <a href="#!/profile/{{post.user_id._id}}">{{post.user_id.username ? post.user_id.username : post.user_id.name}}</a></li>
          <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
        </ul>
        <a class="posts-title" href="#!/press-release/{{post._id}}"><h3>{{ post.title }}</h3></a>
      </header>
      <article ng-bind-html="getCurrentLanguage() == 'FR' ? toTrustedHTML(post.content_fr) :  toTrustedHTML(post.content_en)" class="posts-content">
      </article>

      <div class="footer">
        <a class="pull-right" translate="READ-MORE" href="#!/press-release/{{post._id}}">READ MORE</a>
      </div>
    </div>
  </div>
</div>
<div ng-show="noSearchResult" class="wrapper">
  <p>No search result !</p>
</div>
