<div class="row">
    <div class="col-lg-6 no-col-pad">
        <h2 class="section-title">Profile</h2>
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="profile pic">
                    <img ng-src="{{user.picture ? user.picture : '/'}}" height="80" width="80" on-error-src="img/defaultProfile.png"/>
                    <div class="total-post">
                        <span class="lbl">Total posts</span>
                        <h3>{{ posts.length }}</h3>
                    </div>
                </div>
                <div class="profile info">
                    <h4 class="no-margin" ng-show="user.username"><strong>{{ user.username }}</strong></h4>
                    <h4 class="no-margin" ng-hide="user.username"><strong>{{ user.name }}</strong></h4>
                    <div class="form-group">
                        <span>Member since :</span>
                        <span>{{ user.createdAt | date:'MMM d, y' }}</span>
                    </div>
                    <div class="form-group">
                        <strong>Email :</strong>
                        <span>{{ user.email }}</span>
                    </div>
                    <button class="btn btn-default" ng-click="newPwd()" ng-hide="seshUser.facebook_id">Change password</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 posts">
        <h2 class="section-title">Posts</h2>
        <div ng-repeat="post in posts | orderBy:'created_at':true" class="wrapper post">
            <header class="header">
                <a class="posts-title" href="#!/post/{{post._id}}"><h3>{{ post.title }}</h3></a>
                <ul class="posts-info">
                    <li class=""><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;<!--August, 27, 2016  -->{{ post.createdAt | date:'MMM d, y'}}</li>
                    <li class=""><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;({{ post.comments.length }}) Comments</li>
                </ul>
            </header>
            <article ng-bind-html="toTrustedHTML(post.content)" class="posts-content">
            </article>

            <div class="footer">
                <a class="pull-right" href="#!/post/{{post._id}}">READ MORE</a>
            </div>
        </div>
    </div>
</div>