.row-about{
  text-align: justify;
}

.row-about h4{
  font-weight: bold;
  padding: 4px 0px 0px 0px;
}

.row-about p {
  min-height: 120px;
}

.col-about {
  vertical-align:middle;

}

.about-img {
  /*width: 400px;
  height: 300px;*/
}

@media only screen and (min-width : 768px) {
  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
  }
}