// Contact css section ---
.contact-info {

  padding-left: 30px;
  margin-bottom: 20px !important;
  li {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 14px 3px 0px 3px;
    color: grey;
    i{
      width: 18px;
      height: 18px;
      .link{
        cursor: pointer;
        color: #337ab7;
      }:hover{
         color: grey;
       }
      font-size: 18px;
    }
  }

  :first-child {
    margin-top: 4px;
  }

  li.marker:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f041";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;
    margin-top: 4px;
    margin-left: -26px;
    color: #CCCCCC;
  }

  li.phone:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f095";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;

    margin-left: -26px;
    color: #CCCCCC;
  }

  li.envelope:before
  {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\f0e0";
    font-family: 'FontAwesome';
    font-size: 18px;
    float: left;

    margin-left: -26px;
    color: #CCCCCC;
  }

  span {
    margin-left: 12px;
  }
}

.contact-box {
  margin-top: 20px;
}

/*@media only screen  and (min-width : 1224px) {

  .contact-box.sep {
    border-right: 1px solid #eeeeee;
  }

  .col-send-message {
    display: none;
  }

}*/

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .col-send-message {
    display: initial;
  }
}*/

.form-group.validate {

  position: relative;

  .rc-captcha-cust {
    width: 304px;
    display: inline-block;
  }

  .btn-send-message {
    position: absolute;
    bottom:7px;
    right:0;
  }
}

// End Contact css section