.serv-box {
  width:120px;
  height:120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.monitor {
  background: url('img/monitor.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.infor {
  background: url('img/information.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.share {
  background: url('img/share.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}

.smartphone {
  background: url('img/smartphone.png') center center no-repeat;
  background-size: 60px 60px;
  background-color: #337ab7;
}