.fixed-box .panel-body {
  min-height: 210px !important;
}

.demo-box {

  /*border: 1px solid #cccccc;*/
  /*background-color: #f2f2f2;*/
  min-height: 380px;
  /*margin-top: 20px;*/
  margin-bottom: 20px;

  .box-logo {
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }


  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0px;
  }

  .terms {
    background: url('img/terms.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .mission {
    background: url('img/startup.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .engagement {
    background: url('img/handshake.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .success {
    background: url('img/laptop.png') center center no-repeat;
    background-size: 100px 100px;
    background-color: #f2f2f2;
  }

  .box-title {
    font-weight: bold;
    text-align: center;
    padding: 4px 0px 0px 0px;
  }

  .box-text {
    text-align: justify;
    text-justify: inter-word;
  }

  .box-terms{
    /*text-align: center;*/
  }
}

.fixed-box {
  margin-top: 20px;
  padding-bottom: 15px;
}