/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

/**********
iPad 3
**********/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

  .col-img {
    display: none ;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
  }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

  .is-table-row {
    display: table;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
  }

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

  .col-img {
    display: none ;
  }

  .col-about {
    width: 100%;
  }

}