.fixed-box .panel-body {
  min-height: 210px !important;
}

.fixed-box {
  margin-top: 20px;
  padding-bottom: 15px;
}

.demo-box-footer {
  width: 100%;
  text-align: center;
}

.btn-home {
  text-align: center;

}