//
// Base SCSS
//
// @author Daryn St. Pierre <daryn@bloqmail.com>
// https://github.com/bloqhead/Base-SCSS
//
// This file does not try to contend with tools like
// Bourbon and Neat. It simply adds things that I use
// on a daily basis. Some of them are edge case.
//
// If you need something more involved, look into these:
// * Bourbon [http://bourbon.io]
// * Neat [http://neat.bourbon.io]
//

//
// Variables and Settings
//

//
// Bourbon and Neat
// Set both to true if you want to use
// the Neat grids module.
//
$bourbon:           true;
$neat:              true;

// Headings
$headings:          'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';

// Form buttons
$form-buttons:      'button, .button, .btn, input[type="submit"], input[type="reset"]';

// Form inputs
$inputs:            email, number, password, search, tel, text, url, color, date, datetime, datetime-local, month, time, week;


//
// Modules
//
@import 'scss/modules/angler';
@import 'scss/modules/_breakpoints';
@import 'scss/modules/_flexmenu';
@import 'scss/modules/_forms';
@import 'scss/modules/_hamburger';
@import 'scss/modules/_icons';
@import 'scss/modules/_images';
@import 'scss/modules/_lists';
@import 'scss/modules/_pseudo-shift';
@import 'scss/modules/_responsive-type';
@import 'scss/modules/_type';
@import 'scss/modules/_utility';


$icon-font-path:  "../assets/fonts/bootstrap"!default;
@import "app/lib/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "app/lib/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "app/lib/compass-sass-mixins/lib/compass";

$fa-font-path:   "../assets/fonts/fontawesome"!default;
@import "app/lib/fontawesome/scss/font-awesome";

@import "app/lib/angular-typewrite/dist/angular-typewrite";


@import 'scss/public/_main-front';
@import 'scss/public/_main-front-mqueries';

@import 'scss/public/_modern-business';

@import 'scss/public/_section-home';
@import 'scss/public/_section-home-mqueries';

@import 'scss/public/_section-services';
@import 'scss/public/_section-services-mqueries';

@import 'scss/public/_section-portfolio';
@import 'scss/public/_section-portfolio-mqueries';

@import 'scss/public/_section-press-release';

@import 'scss/public/_section-about';
@import 'scss/public/_section-about-mqueries';

@import 'scss/public/_section-contact';
@import 'scss/public/_section-contact-mqueries';


@import 'scss/modules/_angular-swiper';


