//
// Base SCSS
//
// @author Daryn St. Pierre <daryn@bloqmail.com>
// https://github.com/bloqhead/Base-SCSS
//
// This file does not try to contend with tools like
// Bourbon and Neat. It simply adds things that I use
// on a daily basis. Some of them are edge case.
//
// If you need something more involved, look into these:
// * Bourbon [http://bourbon.io]
// * Neat [http://neat.bourbon.io]
//

//
// Variables and Settings
//

//
// Bourbon and Neat
// Set both to true if you want to use
// the Neat grids module.
//
$bourbon:           true;
$neat:              true;

// Headings
$headings:          'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';

// Form buttons
$form-buttons:      'button, .button, .btn, input[type="submit"], input[type="reset"]';

// Form inputs
$inputs:            email, number, password, search, tel, text, url, color, date, datetime, datetime-local, month, time, week;


//
// Modules
//
@import 'modules/angler';
@import 'modules/_breakpoints';
@import 'modules/_flexmenu';
@import 'modules/_forms';
@import 'modules/_hamburger';
@import 'modules/_icons';
@import 'modules/_images';
@import 'modules/_lists';
@import 'modules/_pseudo-shift';
@import 'modules/_responsive-type';
@import 'modules/_type';
@import 'modules/_utility';


$icon-font-path:  "../assets/fonts/bootstrap"!default;
@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "app/bower_components/compass-sass-mixins/lib/compass";

$fa-font-path:   "../assets/fonts/fontawesome"!default;
@import "app/bower_components/fontawesome/scss/font-awesome";

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  /*border: 1px solid lightgray;
  border-radius: 2px;*/


  /*-webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;*/



  h3{
    margin: 0;
    display: inline-block;
  }
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  background-color: rgb(248, 248, 248);
}


.chat-msg{
  min-height: 250px;/*
  max-height: 600px;*/
  list-style: none;/*
  overflow-y: auto;*/
  margin-bottom: 0;
}

// Post css section ---


.post {
  margin-top: 24px;
  min-height: 100px;
}

.post:first-child {
  margin-top: 0px !important;
}

.posts-content {
  text-align: left;
  background-color: white;
}

.post-header-sep {
  height: 100%;
  position: relative;
}

.sep-fix {
  min-height: 60px;
}

.post-header {
  width: 100%;
  min-height: 60px;
  height: auto;
}

.post-title {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
  position: absolute;
  bottom: 6px;
  left:0;
}


.posts-title {
  color: black;
  h3 {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
  }
}

.post-info {
  position: absolute;
  bottom: 4px;
  right:0;
}

ul.posts-info {
  float: right;
  margin: 0px;
}

ul.posts-info li{
  display: inline;
  list-style-type: none;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  color: grey;
  i{
    .link{
      cursor: pointer;
      color: #337ab7;
    }:hover{
       color: grey;
     }
    font-size: 18px;
  }
}

.post-search {
  margin: 0px 0px 0px 0px;
  position: absolute;
  bottom: 0;
}

// End Post css section

.aside-2 {

}

.chat{
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 10px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  .chat-header{

    background-color: darken(rgb(248, 248, 248), 5% );
    padding-top: 4px;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid lightgray;


    h3 {
      display: inline-block;
      margin: 0px;
    }

    i {
      margin-left: 8px;
      font-size: 30px;
    }

  }

  hr{
    margin-top: 0!important;
    margin-bottom: 0!important;
  }

  .chat-bloc{/*
    border-top: 1px solid lightgrey;*/
    padding-left: 20px;
    /*flex-direction: row;*/

    .chat-bloc-row{
      flex: 1 100%;
      flex-flow: row wrap;
      display: flex;
    }



    .user-img{
    }
    .user-img img{
      margin-top: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .user-msg-content{
      word-wrap: break-word;
      flex-grow: 80;
      padding: 10px 20px 10px 20px;
      width: 200px;

      @media (min-width: 480px) {
        width: 300px;
      }
    }
    .user-msg-up-down{
      margin-right: 10px;
      justify-content: flex-end;
      flex-grow: 5;
      text-align: center;
      .up-down{
        height: 20px;
        padding-top: 2px;
        .up{
          margin-left: 0;
          color: #00AA00;
        }
        .down{
          color: red;
          margin-right: 0;
        }
      }

      i{
        display: block;
        color: gray;
        font-size:24px;
        cursor: pointer;
      }.fa-chevron-up,.fa-chevron-down{
         vertical-align: text-top;
       }:hover{
          color: #444;
        }

      /*.fa-thumbs-down{
         -moz-transform: scaleX(-1);
         -o-transform: scaleX(-1);
         -webkit-transform: scaleX(-1);
         transform: scaleX(-1);
       }
      :hover{
        color: #444;
      }*/

    }
    .chat-bloc-footer{
      a{
        cursor: pointer;
      }
    }

    /*    .sub-com > *{
          width: 90%;
          }*/

    .sub-com{
      background-color: rgba(200,200,200,0.4);
      margin-left: 10%;
      padding: 10px 20px 20px 20px;
      margin-top: 5px;
      margin-bottom: 5px;

    }

    .chat-sub-comment{
      list-style: none;
      border-bottom: 1px solid lightgrey;

      /*
       float: right;*/

      .user-sub-msg-content{
        border-bottom: 1px solid lightgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 1px;
      }

    }

    .sub-com-sep{
      display: block;
      height: 1px;
      float: right;
      margin-top: 5px!important;
    }


  }

  .chat-foot{
    padding: 6px;
    .input-group{
    }

    textarea{
      transition: none;
      border-radius: 0;
      resize: none;
    }
    :focus{
      /* border: 1px solid grey;*/

      /*border: 1px solid darken(rgb(150, 150, 150), 5% );*/
      box-shadow: none;

    }

    .InputAddOn {
      display: flex;
    }
    .InputAddOn-field {

      flex: 1;
      /* field styles */
    }
    .InputAddOn-item {

      border-left: 0;
      border-radius: 0;
      /* item styles */
    }



  }

  .InputAddOn-sub-comment {
    margin-top: 10px;
    display: flex;
  }
  .InputAddOn-field-sub-comment {
    transition: none;
    border-radius: 0;
    flex: 1;
    /* field styles */
  }
  .InputAddOn-item-sub-comment {
    border-left: 0;
    border-radius: 0;
    /* item styles */
  }

}




.post-content{
  min-height: 400px;
}



@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside-2 { order: 2; }
  .footer  { order: 3; }
}

p{/*
  display: inline;*/
}

/*Hide textarea editor toolbar path*/
.mce-path {/* CSS */
  display: none !important;
}


/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #2a3f54;

  hr {
    position: fixed;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darken(#2a3f54, 10%);
    margin: 0;
    z-index: 3;
    width: 256px;
  }
}

#backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.nav-item.menu-profile {
  height: 65px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  background-color: darken(#2a3f54, 5%);
  border-bottom: 1px solid darken(#2a3f54, 10%);
}

.nav-item.menu-profile {

  .item.img {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;

    }
  }
  .item.msg {
    flex-grow: 4;
    margin-left: 8px;
    padding-top: 10px;
    h4 {
      margin-top: 5px;
    }
  }
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 260px;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 10px;
  border-right: 4px solid #16caa5;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;


  i{
    margin-right: 8px;
  }
}

.nav-item a:hover {

  background-color: #35475d;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-top: 6em;
  padding-left: 1em;
  padding-right: 1em;

  /* non-critical apperance styles */

  /*background: url('img/sandpaper.png') repeat;*/
  background-color: rgb(233, 233, 233);/*
  -webkit-background-size: 348px 500px!important;
  background-size: 348px 500px!important;*/

  h2.new-post{
    display: inline-block;
  }

  .search{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0;
    input{
    }
  }
}

@media (min-width: 480px) {

  .site-wrap {
    padding-top: 6em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 6em;
  }
}


/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/*
div[for="nav-trigger"] {
  !* critical positioning styles *!
  position: absolute;
  left: 15px; top: 15px;
  z-index: 2;

  !* non-critical apperance styles *!
  height: 30px;
  width: 30px;
  cursor: pointer;
  //background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}*/

#header{
  height: 65px;
  background-color: darken(#2a3f54, 5%);
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 2px solid lighten(#2a3f54, 50%);
  z-index: 9999;
}

/* Make the Magic Happen */
.nav-trigger + #nav-icon{
  transition: left 0.1s;
}

.site-wrap {
  transition: left 0.4s;
}

.nav-trigger:checked + #nav-icon {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  z-index: -1;
  left: 0px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

code {
  padding: 2px;
  background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }



//
// Bourbon + Neat Grids
//
//@if $bourbon == true {
//  @import 'modules/_grids';
//} @else {
// @import 'modules/_clearfix';
//}

/*Nav icon*/
#nav-icon{
  position: fixed;
  left: 15px; top: 18px;
  z-index: 2;

  height: 30px;
  width: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #16caa5;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*End nav icon*/

#post-tags{
}


.sign-in,.sign-up{
  padding: 4vh;
  .sign-in-header,.sign-in-builtin,.sign-in-fb,.sign-in-other,.sign-up-header,.sign-up-builtin,.sign-up-fb,.sign-up-other{
    border-bottom: 1px solid lightgrey;
    padding: 8px;
    margin-bottom: 4px;
  }
  .sign-in-other,.sign-up-other{
    width: 100%;
    button{
      margin-bottom: 10px;
    }
  }
  .sign-in-or,.sign-up-or{
    text-align: center;
    position: absolute;
    margin-top: -20px;
    width: 100%;
    left: 0;
    right: 0;
    span{
      background-color: #f8f8f8;
    }
  }

  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

#btn-github{
  color: black;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 10px;
  padding: 0;
  height: 40px;
  span{
    flex: 2;
    width: 140px;
    font-weight: bold;
    line-height: 36px;
    margin-right: 15px;
  }

  i{
    flex: 1;
    font-size: 26px;
    width: 18px;
    line-height: 36px;
  }
}

#fa-posts-feed{
  margin-top: 8px;
  float: right;
  vertical-align: middle;
  i{
    cursor: pointer;
    color: lightgrey;
    line-height: 48px;
    font-size: 36px;
  }:hover{
     color: #16caa5;
   }
}

#btn-github:hover{
  color: #16caa5;
  text-shadow: 0px 0px 0px;
}


// Login css section ---

.frm-login {
  margin-top: 20px;
  padding: 15px !important;
}

.login-logo {
  display: block;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.login-btn-cont {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.theme-btn {
  margin-top: 5px;
  width: 100%;
  color: white;
  background-color: darken(#2a3f54, 5%);
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.theme-btn:hover, .theme-btn:focus, .theme-btn:active, .theme-btn.active, .open > .dropdown-toggle.theme-btn {
  background-color: #35475d;
  color: white;
}

.theme-btn:active, .theme-btn.active {
  background-color: darken(#2a3f54, 5%);
  box-shadow: none;
  color: white;
}

.checkbox {
  margin: 10px 0 5px 0 !important;
  padding: 0 !important;
}


div.social-wrap button:active {
  background-color: #222;
}

div.social-wrap.b button {
  padding-right: 45px;
  height: 35px;
  background: none;
  border: none;
  display: block;
  background-size: 25px 25px, cover;
  background-repeat: no-repeat, repeat;
  border-radius: 4px;
  color: white;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-shadow: 0 4px 2px -2px gray;
  text-shadow: rgba(0, 0, 0, 0.4) -1px -1px 0;
}

div.social-wrap.b > .facebook {
  background: url(http://aroosamanzar.com/uploads/images/facebook-logo-png-white-i6.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c74c4), color-stop(100%, #3b5998));
  background-size: 25px 25px, cover;
  background-position: center right 12px;
  background-repeat: no-repeat, repeat;
}

.bottom-link {
  margin-left: 10px;
}

.panel {
  margin-bottom: 5px !important;
}


.or-hr {
  border:0;
  line-height:20px;
  margin: 30px 0px 30px 0px !important;
}

.or-hr:before {
  content: '';
  display: block;
  height: 1px;
  background-color: #ddd;
}

.or-hr:after {
  content: 'OR';
  color:#ccc;
  display:block;
  text-align:center;
  width:60px;
  margin-top:-10px;
  position:absolute;
  left:50%;
  background-color: white;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
}

// End Login css section

// Comments css section ---

/*For pre-selected thumps up & down*/

.selected-chevron {
  color: #444 !important;
}

// End Comments css section


// Profile css section ---

.profile {
  display: inline-block;
  float: left;

}.pic {
   width: 80px;
 }.info {
    margin-left: 20px;
    width: 200px;
  }

.total-post {
  .lbl {
    margin-top: 5px;
    display: block;
    text-align: center;
  }

  h3 {
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    text-align: center;
  }
}
// End profile css section

.no-margin {
  margin: 0px !important;
}