//
// Base SCSS
//
// @author Daryn St. Pierre <daryn@bloqmail.com>
// https://github.com/bloqhead/Base-SCSS
//
// This file does not try to contend with tools like
// Bourbon and Neat. It simply adds things that I use
// on a daily basis. Some of them are edge case.
//
// If you need something more involved, look into these:
// * Bourbon [http://bourbon.io]
// * Neat [http://neat.bourbon.io]
//

//
// Variables and Settings
//

//
// Bourbon and Neat
// Set both to true if you want to use
// the Neat grids module.
//
$bourbon:           true;
$neat:              true;

// Headings
$headings:          'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';

// Form buttons
$form-buttons:      'button, .button, .btn, input[type="submit"], input[type="reset"]';

// Form inputs
$inputs:            email, number, password, search, tel, text, url, color, date, datetime, datetime-local, month, time, week;


//
// Modules
//
@import 'modules/angler';
@import 'modules/_breakpoints';
@import 'modules/_flexmenu';
@import 'modules/_forms';
@import 'modules/_hamburger';
@import 'modules/_icons';
@import 'modules/_images';
@import 'modules/_lists';
@import 'modules/_pseudo-shift';
@import 'modules/_responsive-type';
@import 'modules/_type';
@import 'modules/_utility';


@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
//
//@import "app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-compass";

@import "app/bower_components/compass-sass-mixins/lib/compass";



/*$icon-font-path: 'app/bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@function font-path($path) {
  @return $path;
}*/

/*@font-face{
  font-family:'Glyphicons Halflings';
  src: image-url("app/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: image-url("app/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  image-url("app/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"),
  image-url("app/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
  image-url("app/bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}*/


.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px solid #888;
  border-radius: 2px;
  margin-top: 20px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;


  h3{
    margin: 0;
    display: inline-block;
  }
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  background-color: rgb(248, 248, 248);
}


.chat-msg{
  min-height: 250px;
  max-height: 600px;
  list-style: none;
  overflow-y: auto;
  padding-top: 10px;
}



.post {
  text-align: left;
  min-height: 100px;
  background-color: white;

}

.post-content {
  text-align: left;
  background-color: white;

}

.aside-2 {

}

.chat{
  background-color: white;
  border: 1px solid #888;
  border-radius: 2px;
  margin-top: 10px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  .chat-header{

    background-color: darken(rgb(248, 248, 248), 5% );
    padding-top: 4px;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid lightgray;


    h3 {
      display: inline-block;
      margin: 0px;
    }

    i {
      margin-left: 8px;
      font-size: 30px;
    }

  }

  hr{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
  }

  .chat-bloc{
    padding-left: 20px;
    /*flex-direction: row;*/

    .chat-bloc-row{
      flex: 1 100%;
      flex-flow: row wrap;
      display: flex;
    }



    .user-img{
    }
    .user-img img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .user-msg-content{
      word-wrap: break-word;
      flex-grow: 80;
      padding: 4px 20px 10px 20px;
      width: 200px;

      @media (min-width: 480px) {
        width: 300px;
      }
    }
    .user-msg-up-down{
      margin-right: 10px;
      justify-content: flex-end;
      flex-grow: 5;
      text-align: center;
      .up-down{
        height: 20px;
        padding-top: 2px;
        .up{
          margin-left: 0;
          color: #00AA00;
        }
        .down{
          color: red;
          margin-right: 0;
        }
      }

      i{
        display: block;
        color: gray;
        font-size:24px;
        cursor: pointer;
      }.fa-chevron-up{
          vertical-align: text-top;
       }
      .fa-chevron-down{
          vertical-align: text-top;
       }

      /*.fa-thumbs-down{
         -moz-transform: scaleX(-1);
         -o-transform: scaleX(-1);
         -webkit-transform: scaleX(-1);
         transform: scaleX(-1);
       }
      :hover{
        color: #444;
      }*/

    }
    .chat-bloc-footer{

    }

/*    .sub-com > *{
      width: 90%;
      }*/

    .sub-com{
      background-color: rgba(200,200,200,0.4);
      margin-left: 10%;
      padding: 20px;
    }

    .chat-sub-comment{
      list-style: none;
      border-bottom: 1px solid lightgrey;

     /*
      float: right;*/

      .user-sub-msg-content{
        border-bottom: 1px solid lightgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 1px;
      }

    }

    .sub-com-sep{
      display: block;
      height: 1px;
      float: right;
      margin-top: 5px!important;
    }


  }

  .chat-foot{
    .input-group{
    }

    input{
      transition: none;
      border-radius: 0;
      border-left: 0;
      border-bottom: 0;
    }
    :focus{
     /* border: 1px solid grey;*/

      border: 1px solid darken(rgb(150, 150, 150), 5% );
      box-shadow: none;
    }

    .InputAddOn {
      display: flex;
    }
    .InputAddOn-field {

      flex: 1;
      /* field styles */
    }
    .InputAddOn-item {

      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      /* item styles */
    }



  }

  .InputAddOn-sub-comment {
    display: flex;
  }
  .InputAddOn-field-sub-comment {
    transition: none;
    border-radius: 0;
    flex: 1;
    /* field styles */
  }
  .InputAddOn-item-sub-comment {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    /* item styles */
  }

}




.post-content{
  min-height: 400px;
}



@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 1; }
  .aside-2 { order: 2; }
  .footer  { order: 3; }
}

p{/*
  display: inline;*/
}

/*Hide textarea editor toolbar path*/
.mce-path {/* CSS */
  display: none !important;
}


/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #2a3f54;

  hr {
    position: fixed;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid darken(#2a3f54, 10%);
    margin: 0;
    z-index: 3;
    width: 256px;
  }
}

#backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.nav-item.profile {
  height: 65px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  background-color: darken(#2a3f54, 5%);
  border-bottom: 1px solid darken(#2a3f54, 10%);
}

.nav-item.profile .item {

}

.nav-item.profile .item.img {
  flex-grow: 1;
  line-height: 65px;
  text-align: center;
  font-size: 38px;
}

.nav-item.profile .item.msg {
  flex-grow: 3;
  margin-left: 8px;
  padding-top: 10px;
  h4 {
    margin-top: 5px;
  }
}


/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 260px;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 10px;
  border-right: 4px solid #16caa5;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;


  i{
    margin-right: 8px;
  }
}

.nav-item a:hover {

  background-color: #35475d;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;

  /* non-critical apperance styles */

  background: url('img/sandpaper.png') repeat;
  -webkit-background-size: 348px 500px!important;
  background-size: 348px 500px!important;
}

@media (min-width: 480px) {

  .site-wrap {
    padding-top: 6em;
    padding-left: 12em;
    padding-right: 12em;
    padding-bottom: 6em;
  }
}


/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
/*
div[for="nav-trigger"] {
  !* critical positioning styles *!
  position: absolute;
  left: 15px; top: 15px;
  z-index: 2;

  !* non-critical apperance styles *!
  height: 30px;
  width: 30px;
  cursor: pointer;
  //background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}*/

#header{
  height: 65px;
  background-color: darken(#2a3f54, 5%);
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

/* Make the Magic Happen */
.nav-trigger + #nav-icon{
  transition: left 0.1s;
}

.site-wrap {
  transition: left 0.4s;
}

.nav-trigger:checked + #nav-icon {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  z-index: -1;
  left: 0px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

code {
  padding: 2px;
  background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }



//
// Bourbon + Neat Grids
//
//@if $bourbon == true {
//  @import 'modules/_grids';
//} @else {
// @import 'modules/_clearfix';
//}

// Post infos css

ul.post-infos {
  float: right;
}

ul.post-infos li{
  display: inline;
  list-style-type: none;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
}


/*Nav icon*/
#nav-icon{
  position: fixed;
  left: 15px; top: 18px;
  z-index: 2;

  height: 30px;
  width: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #16caa5;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 24px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/*End nav icon*/

#post-tags{
}

#btn-github{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 10px;
  padding: 0;
  height: 40px;
  span{
    flex: 2;
    width: 140px;
    font-weight: bold;
    line-height: 36px;
    margin-right: 15px;
  }

  i{
    flex: 1;
    font-size: 26px;
    width: 18px;
    line-height: 36px;
  }
}

#btn-github:hover{
   color: #16caa5;
  text-shadow: 0px 0px 0px;
 }
